node_red/node_red_flow.json
[
    {
        "id": "43a1d45bd1f2ab4b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "423829b42d77a41c",
        "type": "mqtt in",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "topic": "fleet/vehicle/+/telemetry",
        "qos": "0",
        "datatype": "utf8",
        "broker": "b84c3fdc3d5601dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "d79d3c97303a4ebe"
            ]
        ]
    },
    {
        "id": "d79d3c97303a4ebe",
        "type": "json",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "5fd3b9e0620ebe15",
                "5af85dfa6cb04637",
                "3d3af01ca9c229a6"
            ]
        ]
    },
    {
        "id": "5fd3b9e0620ebe15",
        "type": "switch",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "property": "payload.speed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "120",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "986b71178367ad70"
            ]
        ]
    },
    {
        "id": "986b71178367ad70",
        "type": "function",
        "z": "43a1d45bd1f2ab4b",
        "name": "function 1",
        "func": "let vehicle = msg.payload.vehicle_id;\nlet speed = msg.payload.speed;\n\nmsg.payload = {\n    alert_type: \"OVERSPEED\",\n    vehicle_id: vehicle,\n    speed: speed,\n    threshold: 120,\n    timestamp: msg.payload.timestamp\n};\n\nmsg.topic = \"fleet/alerts/overspeed\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "6dfa23eb416e9b54",
                "08bf259619ea09b1"
            ]
        ]
    },
    {
        "id": "6dfa23eb416e9b54",
        "type": "mqtt out",
        "z": "43a1d45bd1f2ab4b",
        "name": "fleet/alerts/overspeed",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cbe10e460caedeca",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "08bf259619ea09b1",
        "type": "debug",
        "z": "43a1d45bd1f2ab4b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "5af85dfa6cb04637",
        "type": "debug",
        "z": "43a1d45bd1f2ab4b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "3d3af01ca9c229a6",
        "type": "function",
        "z": "43a1d45bd1f2ab4b",
        "name": "Prepare Telemetry Firebase",
        "func": "const BASE = \"https://fleet-monitoring-iot-default-rtdb.asia-southeast1.firebasedatabase.app\";\n\nconst v = msg.payload.vehicle_id;\n\n// Store latest snapshot (PUT overwrites)\nmsg.latestUrl  = `${BASE}/fleet/latest/${v}.json`;\n\n// Store telemetry history (POST creates push_id)\nmsg.historyUrl = `${BASE}/fleet/telemetry/${v}.json`;\n\n// Keep the original telemetry in a separate field\nmsg.telemetryPayload = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "8a48edf9965eaf36",
                "b8fd0c8f4dc8e11b"
            ]
        ]
    },
    {
        "id": "8a48edf9965eaf36",
        "type": "change",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "latestUrl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 400,
        "wires": [
            [
                "a6f1022b10d38829"
            ]
        ]
    },
    {
        "id": "a6f1022b10d38829",
        "type": "change",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telemetryPayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "4f599c3e1a577957"
            ]
        ]
    },
    {
        "id": "4f599c3e1a577957",
        "type": "http request",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b8fd0c8f4dc8e11b",
        "type": "change",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "historyUrl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "aa1c4dcaa68e3bca"
            ]
        ]
    },
    {
        "id": "aa1c4dcaa68e3bca",
        "type": "change",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "telemetryPayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "967ae89b1a6f69ba"
            ]
        ]
    },
    {
        "id": "967ae89b1a6f69ba",
        "type": "http request",
        "z": "43a1d45bd1f2ab4b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b84c3fdc3d5601dc",
        "type": "mqtt-broker",
        "name": "HiveMQ_TLS_8883",
        "broker": "4c0f685d03a94601acfd1015c4bdde68.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cbe10e460caedeca",
        "type": "mqtt-broker",
        "name": "",
        "broker": "4c0f685d03a94601acfd1015c4bdde68.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]